

{{> header }}

    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1> Abaut this web!</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt delectus assumenda eaque atque modi? Expedita, provident iusto necessitatibus omnis iure quasi fugit, quas esse placeat est temporibus enim iste autem.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/3.jpg" alt="" class="img-thumbnail">
        </div>

    </div>

{{> footer }}